{% extends 'core/base.html' %}

{% block title %}Log in{% endblock %}

{% block content %}
<body>
  <p style="font-weight: bold; font-size: 36px; text-align: center;">WAIT FOR REDIRECT</p>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <script>
    const handleApiPost = async (endpoint, params) => {
      const result = await axios.post(`${endpoint}`, params, {
        headers: {
          'content-type': 'application/json',
          "X-CSRFToken": '{{ csrf_token }}'
        },
      });
     
      return result.data;
    };
   const requestMessage = (account, chain) =>
      handleApiPost("{% url 'core:request_message' %}" , {
        address: account,
        chain: chain,
        network: 'env',
      });
    const verifyMessage = (message, signature) =>
      handleApiPost("{% url 'core:verify_message' %}", {
        message,
        signature,
        network: 'env',
      });
    const connectToMetamask = async () => {
      const provider = new ethers.providers.Web3Provider(window.ethereum, 'any');
    
      const [accounts, chainId] = await Promise.all([
        provider.send('eth_requestAccounts', []),
        provider.send('eth_chainId', []),
      ]);
      const signer = provider.getSigner();
      return { signer, chain: chainId, account: accounts[0] };
    };
    const handleAuth = async () => {
      // Connect to Metamask
      const { signer, chain, account } = await connectToMetamask();
      console.log("account", account, "chain", chain)
      if (!account) {
        throw new Error('No account found');
      }
      if (!chain) {
        throw new Error('No chain found');
      }
      const { message } = await requestMessage(account, chain);
      const signature = await signer.signMessage(message);
      const { user } = await verifyMessage(message, signature);
      console.log(user)
      if (user) {
        window.location.href = "{% url 'core:index' %}";  // Przekierowanie na stronę główną
      }
      else {
        alert("authentication error")
      }
    };
    function init() {
      handleAuth().catch((error) => console.log(error));
    }
    window.addEventListener('load', () => {
      init();
    });
    </script>
</body>
{% endblock %}